.left-side {
    float : left;
    display : inline-block;
    width: 200px;
    background-color: #f4f4f4;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}
